/* Navbar.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Fondo blanco */
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar a.active {
    background-color: red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100px; /* Cambia el ancho del logo */
    height: auto; /* Mantiene las proporciones */
    margin-right: 20px; /* Espacio entre el logo y la barra de navegación */
}


/* Footer.css */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


/* Registrarse.css */

.register{
    text-align: center;
    padding: 40px 20px;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
}

.form-group input::placeholder {
    color: #aaa;
}

.submit-btn {
    width: 105%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #e50914;
    color: white;
}

.policy-text {
    font-size: 12px;
    color: #bbb;
    margin-top: 15px;
}

.policy-text a {
    color: #e50914;
    text-decoration: none;
}

.login-link {
    font-size: 14px;
    margin-top: 10px;
}

.login-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
